@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--nav-h: 6rem;
}

@font-face {
	font-family: 'Inter var';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('./assets/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
	font-named-instance: 'Regular';
}

@font-face {
	font-family: 'Inter var';
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url('./assets/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
	font-named-instance: 'Italic';
}

/* @font-face { */
/* 	font-family: 'NotoSansArabic var'; */
/* 	font-style: normal; */
/* 	font-weight: 100 900; */
/* 	font-display: swap; */
/* 	src: url('./assets/fonts/NotoSansArabic-VariableFont_wdth,wght.ttf') */
/* 		format('truetype'); */
/* 	font-named-instance: 'Regular'; */
/* } */

/*Almarai Light*/
@font-face {
	font-family: 'Almarai';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('./assets/fonts/Almarai/Almarai-Light.ttf') format('truetype');
	font-named-instance: 'Light';
}

/* Almarai Regular */
@font-face {
	font-family: 'Almarai';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('./assets/fonts/Almarai/Almarai-Regular.ttf') format('truetype');
	font-named-instance: 'Regular';
}

/*Almarai Bold*/
@font-face {
	font-family: 'Almarai';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('./assets/fonts/Almarai/Almarai-Bold.ttf') format('truetype');
	font-named-instance: 'Bold';
}

/*Almarai ExtraBold*/
@font-face {
	font-family: 'Almarai';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('./assets/fonts/Almarai/Almarai-ExtraBold.ttf') format('truetype');
	font-named-instance: 'ExtraBold';
}

.tippy-content {
	white-space: pre-line;
}
