.DS_Store
node_modules
build
dist
.svelte-kit
tempsample

.env
.direnv

.pnpm-store
.pnpm-debug.log
package-lock.json


.turbo
.eslintcache
pruned
meili_data
build

dist

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# test
test-results/
playwright-report/
storageState.json
storage-state
packages/test/downloads/
.nyc_output/
coverage/

# i18n
**/tolgee/generated

Session.vim
