.DS_Store
node_modules
build
dist
.svelte-kit

.env

.pnpm-store
.pnpm-debug.log
package-lock.json


.turbo
pruned
meili_data
build

dist

vite.config.js.timestamp*

# test
test-results/
playwright-report/
storageState.json
**/*snapshots/*.png
