{
	"$schema": "http://json.schemastore.org/prettierrc",
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"pluginSearchDirs": ["."],
	"singleAttributePerLine": true,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
				"pluginSearchDirs": false
			}
		}
	]
}
