{
  debug
  # https://caddy.community/t/reverse-proxy-without-domain-name/7951/24
  default_sni workhorse-charlie.armadillo-cloud.ts.net
}

workhorse-charlie.armadillo-cloud.ts.net

reverse_proxy meilisearch:7700